<style>
    button {
        margin-top: 12%;
        width: 200px;
        height: 50px;
        background-color: #563d7c;
        color: white;
        border: none;
        font-size: x-large;
    }
    button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
</style>


<div style="margin: 20px; text-align: center;">
    <h1 style="margin-top: 5%;">Добро пожаловать!</h1>
    <h3> Нажмите на кнопку ниже, чтобы перейти к списку ваших проектов</h3>
    <form action="projectListOut.html">
        <button type="submit">Мои проекты</button>
    </form>
</div>